#body1{background-color:#1b262c;
background-size: cover; 
background-repeat: no-repeat;
 font-family: sans-serif ;}
.img{
       position: absolute;
    top:0px;
    right: 10px;
    cursor: pointer;
    background-color:crimson;
	top:0px;
    right :0px;
}
/* Navbar container */
.bar {
     background-color:#5e6f64;
	opacity: 1;
    width:1000px;
    border-radius: 10px;
    margin:7px;
  overflow: hidden;
  font-family: Arial;
}

/* Links inside the navbar */
.bar a {
  float: left;
  font-size: 16px;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.bar a:hover{
    background-color:#1b262c;
	opacity: 0.9;
    color:#fff;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .menubtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #000;
  padding: 14px 16px;
  background-color: inherit;
  font: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  height:45px;
  width:100px;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .menubtn {
   background-color:#1b262c;
  opacity: 0.8;
    color: #fff;
}

/* Dropdown content (hidden by default) */
.menu-content {
  display: none;
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  width:1000px;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 3;
    border-radius: 10px;
}

/*Menu header, if needed */
.menu-content .header {
  background:#1b262c;
  opacity: 0.6;
  padding: 16px;
  color: white;
    border-radius: 5px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .menu-content {
  display: block;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  background-color:hsla(0, 100%, 90%, 0.3);;
  height: 250px;
}

/* Style links inside the columns */
.column a {
  float: none;
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a background color on hover */
.column a:hover {
   background-color:#1b262c;
  opacity: 0.8;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.branches{
    background: rgba(0,0,0,0.5);
    position: absolute;
    align-content: center;
    top:200px;
    left: 250px;
    width: 1000px;
    height: 400px;
}
#mainbody
{
	-webkit-tap-highlight-color: transparent;
	line-height: 1.428571429;
	color: #333;
	font-size: 16px;
	font-family: en, 'Arial';
	box-sizing: border-box;
	padding: 170px 0 0;
}
#DeltaPlaceHolderMain
{
	line-height: 1.4;
	color: #333;
	font-size: 16px;
	font-family: en, 'Arial';
}

.container 
{
	-webkit-tap-highlight-color: transparent;
	line-height: 1.428571429;
	font-size: 16px;
	padding-right: 15px;
	padding-left: 15px;
	max-width: 1300px;
	background-color: transparent;
	border: 1px transparent;
	color: inherit;
	margin: 0 auto;
	width: auto;
	font-family: enSemiLight;
	box-sizing: border-box;
}
#Seats
{
		-webkit-tap-highlight-color: transparent;
	line-height: 1.428571429;
	font-size: 16px;
	font-family: enSemiLight;
	color: black;
	position: relative;
	min-height: 1px;
	width: 80%;
	margin-top: 20px;
	padding: 15px;
	background-color: #989898;
	border: 1px #e7e5e5 solid;
	border-radius: 5px;
	box-sizing: border-box;
	Left:10%
}
.h3InnerTitle
{
	-webkit-tap-highlight-color: transparent;
	line-height: 1.4;
	color: #003067;
	margin: 5px 0 10px;
	font-weight: normal;
	font-family: enSemiLight;
	font-size: 1.3em;
	box-sizing: border-box;
}
.mdGrayColor
{
	font-size: 16px;
	font-family: enSemiLight;
	margin: 0 0 10px;
	line-height: 1.6;
	color: #bd0000eb;
	box-sizing: border-box;
}
.table-responsive
{
	line-height: 1.428571429;
	font-size: 16px;
	font-family: enSemiLight;
	color: inherit;
	box-sizing: border-box;
}
.table ,th ,td
{
	font-size: 16px;
	font-family: enSemiLight;
	color: inherit;
	background-color: transparent;
	max-width: 100%;
	margin-bottom: 20px;
	width: 100%;
	border: 1px solid #ddd;
	border-collapse: collapse;
	table-layout: auto;
	box-sizing: border-box;
}
#alll
{
	background-image:url(ACI-calls-for-ICAO-standards-for-supersonic-aircraft.jpg);
	background-size: cover; 
	background-repeat: no-repeat;
	width:100%;
	height:500px;
	position: absolute;
		top: 0;
		left: 0;
		right: 0;
	border-bottom-right-radius:7px;
	border-bottom-left-radius:5px;
}
.mainPageTitle
{	
	z-index:2;
	position:absolute;
		top:120px;
		left:14%;
	color :white;
}
#darkmood{ position:relative;left:77%;top:-40px;}
#lightmood{position:relative;left:80%;top:-40px;}
.mood 
{
	background-color:rgba(255,255,255,0.2);
	width:70px;
	height:20px;
	border-radius:5px;
	border:none;
	position:absolute;
	cursor:pointer;
}
#upButton
{
	position:fixed;
	top:90%;
	left:90%;
	width:80px;
	height:30px;
	background-color:#cf1b1b;
	border:none;
	cursor:pointer;
	z-index:5;
}
.setimg
{
	width:950px;
	height:450px;
}
.downp
{
	width:100%;
	background-color:#0f4c75;
	height:200px;
	margin-top:100px;
	text-align:center;
	padding:20px;
}
.downp span
{
color:white;
font-weight:bold;
font-size:50px;
	
}
.downp div
{
	position:relative;
	left:300px;
	top:50px;
	width:800px;
}